@import "tailwindcss";

/*  BUTTONS BASE  */
.btnbrowser,
.btnbrowserchrome,
.btnadd,
.btninfo,
.btninfodesktop,
.submit-btn {
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-weight: var(--buttons-font-weight);
  padding: 1rem 1.5rem;
  text-decoration: none;
  display: inline-block;
}

.btnbrowser,
.btnbrowserchrome,
.btninfo,
.btninfodesktop {
  box-shadow: 0 0.625rem 0.938rem 0 var(--color-shadow);
}

.btnbrowser,
.btnbrowserchrome,
.btnadd {
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.btnbrowserchrome,
.btnadd,
.btninfo,
.btninfodesktop {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btnbrowser {
  background-color: var(--color-light-gray);
  color: var(--color-dark);
  font-size: 0.85rem;
}

.btnbrowserchrome {
  font-size: 0.85rem;
}

.btnadd {
  font-size: 0.9rem;
  margin: 1.3rem 0 0.5rem;
}

.btninfo,
.btninfodesktop {
  font-size: 0.8rem;
  width: 100%;
  max-width: fit-content;
}

.btninfo {
  margin: 3rem 0 6rem;
}

.btninfodesktop {
  display: none;
}

.submit-btn { 
  background-color: var(--color-secondary); 
  color: var(--color-white); 
  width: 18.875rem;
  margin-top: 1rem; 
  font-weight: 600;
}

.btnbrowserchrome:hover,
.btnadd:hover,
.btninfo:hover,
.btninfodesktop:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.btnbrowser:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.submit-btn:hover {
  background-color: var(--color-white);
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
}

/*  MENU MOBILE  */
.menu {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none; 
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
  background: var(--color-white);
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0.5rem 0.5rem;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menu a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.063rem;
  transition: color 0.3s;
}

.menu a:hover { 
  color: var(--color-secondary); 
}

body:has(#menu-toggle:checked) {
  overflow: hidden;
}

.menu .login-btn {
  display: grid;
  background-color: var(--color-primary2);
  color: var(--color-white);
  border-radius: 0.313rem;
  border: 0.125rem solid var(--color-white);
  font-weight: 400;
  letter-spacing: 0.188rem;
  font-size: 1.2rem;
  padding: 0.6rem 8rem;
  margin-top: 0.8rem;
  margin-bottom: 2rem;
}

.menu .login-btn:hover { 
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-secondary);
}

.menu li { 
  position: relative; 
}

.menu li:not(.social-icons-item):not(:last-child):not(:has(.login-btn))::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  height: 0.063rem;
  background-color: var(--color-gray);
}

.menu li:not(.social-icons-item):first-child::before { 
  top: -1rem; 
}

.menu li:not(.social-icons-item):not(:last-child)::after { 
  bottom: -1rem; 
}

.menu .social-icons-item {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 3.125rem; 
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 2rem;
  cursor: pointer;
}

.menu .social-icons-item img {
  cursor: pointer;
  &:hover {
    filter: invert(44%) sepia(92%) saturate(2829%) hue-rotate(330deg);
    }
}

.menu-toggle:checked ~ .menu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-primary2);
  opacity: 0.9;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 0;
  box-shadow: none;
  z-index: 100;
}

.menu-toggle:checked + .menu-icon .menu-image { 
  content: url('../img/icon-close.svg'); 
}

.bookmark-image-white { 
  display: none; 
  z-index: 300; 
}

.menu-toggle:checked + .menu-icon .bookmark-image { 
  display: none; 
}

.menu-toggle:checked + .menu-icon .bookmark-image-white { 
  display: block; 
}

/*  HERO  */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1.5rem;
  position: relative;
  isolation: isolate;
}

.hero .imghero-wrapper {
  position: relative;
  width: 100%;
  max-width: 25rem;
  margin-bottom: 4rem;
}

.hero .imghero-wrapper .imghero {
  position: relative;
  width: 100%;
  display: block;
  z-index: 1;
}

.hero .imghero-wrapper::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  right: -7%;
  width: 90%;
  height: 85%;
  background-color: #5368df;
  border-radius: 0 0 0 7rem;
  z-index: -1;
}

.herotextbox h2 { 
  margin-top: 3rem; 
  line-height: 1.2; 
}

.herotextbox p { 
  color: var(--color-gray); 
  margin: 1.5rem 2rem; 
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  width: 100%;
}

/*  FEATURES  */
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 7rem 1.5rem 3rem;
}

.featurestextbox h1 { 
  margin-bottom: 1rem; 
}

.featurestextbox p { 
  color: var(--color-gray); 
  margin: 1rem 1.4rem 1.5rem; 
}

/* Feature Tabs */
.featurebuttons { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  width: 100%; 
  margin: 1rem 0; 
} 

.featurebuttons label { 
  position: relative; 
  width: 100%; 
  padding: 1.2em 1.25rem; 
  text-align: center; 
  font-size: 1.1rem; 
  font-weight: var(--p-font-weight); 
  color: var(--color-gray); 
  background-color: var(--color-white); 
  cursor: pointer; 
  border: none; 
  border-bottom: 0.063rem solid #ccc;
}

.featurebuttons label:hover { 
  color: var(--color-secondary);
}

.featurebuttons label:first-of-type { 
  border-top: 0.063rem solid #ccc; 
}

.featurebuttons label::after { 
  content: ""; 
  position: absolute; 
  left: 50%; 
  bottom: 0; 
  width: 0; 
  height: 0.25rem; 
  background-color: var(--color-secondary); 
  transition: width 0.2s ease, left 0.2s ease; 
  transform: translateX(-50%); 
}

.featurebuttons input[type="radio"]:checked + label { 
  color: var(--color-dark); 
}

.featurebuttons input[type="radio"]:checked + label::after { 
  width: 50%; 
}

/* Feature Images & Content */
.featuretabimages {
  display: flex;
  position: relative;
  width: auto;
  max-width: 25rem;
  height: auto;
  min-height: 24.75rem;
  align-items: center;
}

.featuretabimages img {
  display: none;
  width: 100%;
  max-width: 20.438rem;
  height: auto;
  position: relative;
  transition: opacity 0.3s ease;
  margin-top: 4rem;
}

.featuretabimages .featuretabimages-wrapper {
  &::before {
  content: "";
  position: absolute;
  bottom: 10%;
  right: 27%;
  width: 86%;
  height: 60%;
  background-color: #5368df;
  border-radius: 0 0 7rem 0;
  z-index: -1;
  }
}


#btn1:checked ~ .featuretabimages .imgtab1,
#btn2:checked ~ .featuretabimages .imgtab2,
#btn3:checked ~ .featuretabimages .imgtab3 {
  display: block;
  margin-bottom: 3rem;
}

.tabstextbox > div { 
  display: none; 
  min-height: 12.948rem;
}

.tabstextbox .texttab2, 
.tabstextbox .texttab3 {
  min-height: 12.948rem;
}

#btn1:checked ~ .tabstextbox .texttab1,
#btn2:checked ~ .tabstextbox .texttab2,
#btn3:checked ~ .tabstextbox .texttab3 { 
  display: block; 
}

.tabstextbox h1 { 
  margin: 1.25rem 1.25rem 0; 
  line-height: 1.2; 
  color: var(--color-dark); 
}

.tabstextbox p { 
  margin: 1rem 1.5rem 2.1875rem; 
  color: var(--color-gray); 
}

/*  DOWNLOADS  */
.downloads {
  display: grid;

  width: 100%;
  padding: 1rem 1.5rem;
}

.downloadstextbox h1 { 
  margin-bottom: 1rem; 
}

.downloadstextbox p { 
  color: var(--color-gray); 
  margin: 0 2rem 2rem; 
}

/* Browser Cards Base */
.browser-cardchrome, 
.browser-cardfirefox, 
.browser-cardopera {
  margin: 0 auto 4rem;
  background-color: var(--color-white);
  border-radius: 0.625rem; 
  min-width: 18rem;
  max-width: 18rem;
  box-shadow: 0 0.625rem 0.938rem 0 var(--color-shadow);
  padding: 1rem 1.5rem;
}

.browser-cardchrome p, 
.browser-cardfirefox p, 
.browser-cardopera p {
  color: var(--color-gray); 
  margin: 0.5rem 0 2.3rem; 
} 

.browser-cardchrome h1, 
.browser-cardfirefox h1, 
.browser-cardopera h1 {
  font-size: 1.2rem;
  margin: 1.5rem 0 0;
}

.browser-cardchrome .imgdots, 
.browser-cardfirefox .imgdots, 
.browser-cardopera .imgdots {
  width: 120%;
  margin-left: -1.5rem;
  display: flex;
}

/*  FAQ  */
.faq-section {
  width: 100%;
  margin: 3rem 0;
  padding: 0 1rem;
}

.faq-section h1 { 
  margin: 0 4rem 1rem; 
  line-height: 1.2; 
}

.faq-section p { 
  color: var(--color-gray); 
  margin: 0 2rem 3rem;
}

.faq-item {
  border-bottom: 0.0625rem solid #ccc;
  text-align: left;
  padding: 1.5rem 0;
  margin: 0 1em;
}

.faq-item p {
  margin: 2rem 0 0;
}

.faq-item summary {
  list-style: none;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}

.faq-item summary:hover {
  color: var(--color-secondary); 
}

.faq-item summary::-webkit-details-marker { 
  display: none; 
}

.faq-item summary::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url('../img/icon-arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

.faq-item[open] summary::after {
  transform: translateY(-50%) rotate(180deg);
  filter: invert(22%) sepia(83%) saturate(7487%) hue-rotate(348deg) brightness(95%) contrast(95%);
}

/*  FOOTER  */
.emailtextbox {
  display: grid;
  place-items: center;
  line-height: 1.2;
  background-color: var(--color-primary);
  padding: 3rem 1.5rem;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.emailtextbox h2 {
  color: var(--color-white);
  margin: 0.75rem 0 2.5rem;
  font-size: 1.5rem;
}

.emailtextbox p {
  color: var(--color-white);
  margin-top: 1rem;
  letter-spacing: 0.35em;
  font-size: 0.8rem;
}

.emailbox { 
  display: grid; 
  place-items: center; 
}

.email-input {
  background-color: var(--color-white);
  color: var(--color-dark);
  border: none;
  border-radius: 0.375rem;
  font-size: var(--p-font-size);
  cursor: text;
  width: 18.875rem;
  padding: 1rem 3rem 1rem 1rem;
  text-align: left;
  font-weight: var(--h1-font-weight);  
}

.email-wrapper {
  border-radius: 0.5rem;
  width: 19.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.email-wrapper.error {
  background-color: var(--color-secondary);
  padding: 0.05rem 0.1rem 0.2rem;
}

.email-wrapper p { 
  display: none;
  align-self: flex-start;
  margin: 0.3rem 0 0 0.8rem;
  font-size: 0.563em; 
  color: var(--color-white); 
  letter-spacing: 0.05rem;
  font-style: italic;
}

.email-wrapper.error p {
  display: block;
}

.email-wrapper.error .email-input {
  border: 0.125rem solid var(--color-secondary);
  background-image: url('../img/icon-error.svg');
  background-repeat: no-repeat;
  background-position: right 0.8rem center; 
}

.footertextbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-primary2);
  width: 100vw;
  min-height: 22.5rem;
  color: var(--color-white);
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

  .footertextbox a {
    text-decoration: none;
    color: inherit;
  }

.footertextbox a:hover {
  color: var(--color-secondary);
  cursor: pointer;
}

.footertextbox .smicons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.smicons img {
  cursor: pointer;
}

.smicons img:hover {
  filter: invert(44%) sepia(92%) saturate(2829%) hue-rotate(330deg);
}

.logo-text { 
  fill: white; 
}

/*  MEDIA QUERIES  */

@media (min-width: 768px) {
  main {
    width: 90vw;
  }

  /* Navigation */
  .menu-icon img {
    display: none;
  }

  .bookmark-image {
    margin-left: 5rem;
  }

  .nav { 
    justify-content: space-between;
    gap: 3rem;
    max-width: 100%;
    margin: 0;
  }
  
  .menu {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 2rem;
    background: transparent;
    opacity: 1;
    box-shadow: none;
    max-width: 100%;
    margin-right: 3rem;
    border-radius: 0;
  }
  
  .menu a {
    color: var(--color-dark);
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }
  
  .menu .login-btn {
    margin: auto;
    padding: 0.6rem 1.7rem;
    font-size: 0.7rem;
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
  }
  
  .menu li::before,
  .menu li::after {
    display: none; 
  }

  .menu .social-icons-item {
    display: none;
  }

  /* Hero */
  .hero {
    flex-direction: row-reverse;
    max-width: 100%;
    gap: 4rem;
    padding: 4rem 2rem;
  }
  
  .imghero {
    flex: 1;
    max-width: 20rem;
    margin: 0;
  }

  .hero .imghero-wrapper::before {
  right: -4.4rem;
  width: 18rem;
}

  
  .herotextbox {
    flex: 1;
    text-align: left;
    margin-bottom: 3rem;
  }
  
  .herotextbox h2 {
    font-size: var(--h2-font-size);
  }
  
  .herotextbox p {
    margin: 1.5rem 0 1.5rem 0;
    font-size: var(--p-font-size);
  }
  
  .buttons {
    justify-content: flex-start;
  }
  
  .btnbrowser,
  .btnbrowserchrome {
    width: 8rem;
  }

  /* Features */
  .features {
    max-width: 100%;
    padding: 2rem;
  }

  .featurestextbox h1 {
    font-size: var(--h1-font-size-desktop);
  }

  .featurestextbox p {
    margin: 1.5rem 5rem;
    font-size: var(--p-font-size-desktop);
  }
  
  .featurebuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: auto;
    margin: 0;
  }

  .featurebuttons label {
    font-size: 1.1rem;
    border-top: none;
    border-bottom: 2px solid var(--color-shadow);
    max-width: 39rem;
  }

  .featurebuttons input[type="radio"]:checked + label {
    border-bottom: 2px solid var(--color-secondary);
  }

  .featurebuttons input[type="radio"]:checked + label::after {
    width: 100%;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }

  .featuretabimages {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    min-height: 33.46rem;
  }

  .featuretabimages img {
    max-width: 35rem;
    margin: 0;
  }

    .featuretabimages .featuretabimages-wrapper::before {
    right: 27%;
    width: 30rem;
  }

  #btn1:checked ~ .tabstextbox,
  #btn2:checked ~ .tabstextbox,
  #btn3:checked ~ .tabstextbox {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .tabstextbox {
    max-width: auto;
    text-align: left;
    align-self: center;
  }

  .tabstextbox h1 {
    font-size: var(--h1-font-size);
    text-align: center;
    margin: 0;
  }

  .tabstextbox p {
    font-size: var(--p-font-size);
    margin-top: 1rem;
    text-align: center;
  }

  .tabstextbox .texttab1,
  .tabstextbox .texttab2,
  .tabstextbox .texttab3 {
    min-height: 150px;
    min-width: 450px;
  }

  .btninfodesktop {
    display: none !important;
    margin: 3rem 0 0 1.2rem;
    transform: translateY(-2rem);
  }

  /* Downloads */
  .downloads {
    gap: 1rem;
    max-width: 69.375rem;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .downloadstextbox {
    flex: 1 1 100%;
    gap: 2rem;
  }

  .downloadstextbox h1 {
    margin: 0;
    font-size: var(--h1-font-size);
  }

  .downloadstextbox p {
    font-size: var(--p-font-size);
    margin-top: 1rem;
  }

  .downloadcards {
    display: grid;
    gap: 2rem;
    justify-content: center;
  }

  .browser-cardchrome,
  .browser-cardfirefox,
  .browser-cardopera {
    margin: 0;
  }

  .browser-cardchrome {
    align-self: flex-start;
  }

  .browser-cardfirefox {
    align-self: center;
  }

  .browser-cardopera {
    align-self: flex-end;
  }

  /* FAQ */
  .faq-section {
    max-width: 90%;
    margin: 5rem auto;
  }

  .faq-section h1 {
    margin: 0 0 1rem;
    font-size: var(--h1-font-size);
  }

  .faq-section p {
    margin: 2rem 0;
    font-size: var(--p-font-size);
  }

  .btninfo {
    margin-top: 4rem;
  }

  /* Footer */
  .emailtextbox {
    padding: 2rem;
    width: 100vw;
    height: 20.5rem;
  }

  .emailtextbox h2 {
    font-size: 1.75rem;
  }

  .emailtextbox p {
    margin-bottom: 0.5rem;
  }

  .emailbox form {
    display: flex;
    gap: 1rem;
  }

  .submit-btn {
    margin-top: 0;
    width: auto;
    height: 3.136rem;
  }

  .email-input {
    height: 3.136rem;
  }

  .email-wrapper.error {
    height: 5rem;
  }

  .email-wrapper.error p {
    margin: 0 0 0 0.75rem;
  }

  .footertextbox {
    flex-direction: row;
    justify-content: flex-start;
    padding: 2rem 2rem;
    gap: 3rem;
    min-height: auto;
  }

  .footertextbox a {
    text-decoration: none;
    color: inherit;
    margin: 0 1.5rem 0 0;
  }

  .smicons {
    margin-left: auto;
    gap: 2rem;
  }
}

@media (min-width: 1440px) {
  /* Navigation */
  .nav { 
    justify-content: space-evenly;
  }

  /* Hero */
  .imghero {
    scale: calc(1.5);
    right: 30%;
    transform: translateY(12%);
  }

  .hero .imghero-wrapper::before {
    content: "";
    position: absolute;
    bottom: -8rem;
    right: -1.7%;
    width: 30rem;
    height: 18rem;
    background-color: #5368df;
    border-radius: 0 0 0 7rem;
    z-index: -1;
  }
  
  .herotextbox {
    padding-right: 10rem;
  }
  
  .herotextbox h2 {
    font-size: var(--h2-font-size-desktop);
  }
  
  .herotextbox p {
    margin: 1.5rem 6rem 1.5rem 0;
    font-size: var(--p-font-size-desktop);
  }
  
  .btnbrowser,
  .btnbrowserchrome {
    width: auto;
  }

  /* Features */
  .featurebuttons label:first-of-type { 
    border-top: none; 
  }

  .featurestextbox h1 {
    font-size: var(--h1-font-size-desktop);
  }

  .featurestextbox p {
    margin: 1.5rem 22rem;
    font-size: var(--p-font-size-desktop);
  }

  .featurebuttons label {
    max-width: 16rem;
  }

  .featuretabimages .featuretabimages-wrapper::before {
    right: 40%;
  }

  .featuretabimages {
    width: 100%;
    margin: 4rem auto 0;
  }
  
  .tabstextbox {
    max-width: 30.125rem;
  }

  .tabstextbox h1 {
    font-size: var(--h1-font-size-desktop);
    text-align: left;
  }

  .tabstextbox p {
    font-size: var(--p-font-size-desktop);
    margin: 1rem 0 0 0;
    text-align: left;
  }

  .btninfodesktop {
    display: block !important;
    margin: 3rem 0;
  }

  /* Downloads */
  .downloads {
    padding: 0 2rem;
  }

  .downloadstextbox h1 {
    font-size: var(--h1-font-size-desktop);
  }

  .downloadstextbox p {
    margin: 1rem 16rem;
    font-size: var(--p-font-size-desktop);
  }

    .downloadcards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    height: 25rem;
  }


  /* FAQ */
  .faq-section {
    width: 40%;
    max-width: 60rem;
  }

  .faq-section h1 {
    font-size: var(--h1-font-size-desktop);
  }

  .faq-section p {
    font-size: var(--p-font-size-desktop);
  }

  /* Footer */
  .emailtextbox h2 {
    margin: 0 32rem 1rem;
  }

  .footertextbox {
    padding: 2rem 12rem;
  }
}