@use "variables" as *;
@use "mixins" as *;

// BASE
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem; // Añade padding lateral en móvil

  @include tablet {
    max-width: 768px;
    padding: 0 2rem; // Padding en tablet
  }

  @include desktop {
    max-width: 1440px;
    padding: 0 4rem; // Padding en desktop
  }
}

body {
  font-family: "Rubik";
  background-color: $color-white;
  color: $color-dark;
  @include flex-center;
  min-height: 100%;
  text-align: center;
}

main {
  width: 100%;
  overflow-x: hidden;

  @include tablet {
    width: 90vw;
    margin-left: calc(-50vw + 50%);
  }
}

// TYPO
h1 {
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
}

h2 {
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;
}

p {
  font-size: $p-font-size;
  line-height: $p-line-height;
  font-weight: $p-font-weight;
}
