@use "variables" as *;
@use "mixins" as *;

@mixin buttonstyles($padding: 1rem 1.5rem) {
  border: none;
  border-radius: $border1;
  cursor: pointer;
  font-weight: $buttons-font-weight;
  transition: $transitionall;
  padding: $padding;
  text-decoration: none;
  display: inline-block;
}

@mixin button-hover-inverse {
  &:hover {
    background-color: $color-white;
    color: $color-primary;
    border: 2px solid $color-primary;
  }
}

.btnbrowser,
.btnbrowserchrome,
.btnadd,
.btninfo,
.btninfodesktop {
  @include buttonstyles;
}

.btnbrowser {
  background-color: $color-light-gray;
  color: $color-dark;
  box-shadow: 0 0.625rem 0.938rem 0 $color-shadow;
  font-size: 0.85rem;
  width: 100%;
  text-align: center;
  font-weight: 500;
  @include hover(
    $background-color: $color-white,
    $color: $color-dark,
    $border: 2px solid $color-primary
  );
  @include tablet {
    max-width: 6rem;
  }
  @include desktop {
    min-width: 11rem;
  }
}

.btnbrowserchrome {
  background-color: $color-primary;
  color: $color-white;
  box-shadow: 0 0.625rem 0.938rem 0 $color-shadow;
  font-size: 0.85rem;
  width: 100%;
  text-align: center;
  font-weight: 500;

  @include hover(
    $background-color: $color-white,
    $color: $color-primary,
    $border: 2px solid $color-primary
  );

  @include tablet {
    max-width: 6rem;
  }

  @include desktop {
    min-width: 11rem;
  }
}

.btnadd {
  background-color: $color-primary;
  color: $color-white;
  width: 100%;
  font-size: 0.9rem;
  margin: 1.3rem 0 0.5rem;

  @include button-hover-inverse;
}

.btninfo,
.btninfodesktop {
  background-color: $color-primary;
  color: $color-white;
  font-size: 0.8rem;
  width: 100%;
  max-width: fit-content;
  box-shadow: 0 0.625rem 0.938rem 0 $color-shadow;
  @include button-hover-inverse;
}

.btninfo {
  margin: 3rem 0 6rem;

  @include tablet {
    margin-top: 4rem;
  }
}

.btninfodesktop {
  display: none;

  @include tablet {
    display: block;
    margin: 3rem 0 0 0.3rem;
    transform: translateY(-2rem);
    align-self: center;
  }
  @include desktop {
    align-self: flex-start;
  }
}
