* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik";
  background-color: #ffffff;
  color: #242a45;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  text-align: center;
}

body:has(.menu-toggle:checked) {
  overflow: hidden;
  position: fixed;
}

main {
  width: 100%;
  overflow-x: hidden;
}
@media (min-width: 1440px) {
  main {
    width: 90vw;
  }
}
@media (min-width: 768px) {
  main {
    width: 90vw;
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

h2 {
  font-size: 1.9rem;
  font-weight: 500;
}

p {
  font-size: 0.95rem;
  line-height: 1.6rem;
  font-weight: 400;
}

.header {
  background: #ffffff;
  padding: 1.5rem;
  width: 100%;
  position: relative;
  z-index: 10;
}
@media (min-width: 1440px) {
  .header {
    width: 100vw;
    padding-right: 15rem;
  }
}
.header .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.header .nav .bookmark-image,
.header .nav .bookmark-image-white {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  transition: opacity 0.3s ease;
  z-index: 400;
}
@media (min-width: 768px) {
  .header .nav {
    width: 100%;
  }
  .header .nav .bookmark-image,
  .header .nav .bookmark-image-white {
    margin-left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .header .nav .bookmark-image,
  .header .nav .bookmark-image-white {
    margin-left: 5rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
.header .nav .bookmark-image-white {
  opacity: 0;
  pointer-events: none;
}
.header .nav:has(.menu-toggle:checked) .bookmark-image {
  opacity: 0;
}
.header .nav:has(.menu-toggle:checked) .bookmark-image-white {
  opacity: 1;
}
.header .nav:has(.menu-toggle:checked) .menu-image {
  content: url("../img/icon-close.svg");
}
.header .nav .menu-toggle {
  display: none;
}
.header .nav .menu-icon {
  display: inline-block;
  cursor: pointer;
  margin-left: auto;
  gap: 1.5rem;
  z-index: 200;
}
@media (min-width: 768px) {
  .header .nav .menu-icon {
    display: block;
  }
}
@media (min-width: 1440px) {
  .header .nav .menu-icon {
    display: block;
  }
}
.header .nav .menu-icon .menu-image {
  width: auto;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}
@media (min-width: 768px) {
  .header .nav .menu-icon .menu-image {
    display: none;
  }
}
@media (min-width: 1440px) {
  .header .nav .menu-icon .menu-image {
    display: none;
  }
}
.header .nav .menu {
  list-style: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  text-align: center;
  gap: 1.5rem;
  background: #ffffff;
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0.5rem 0.5rem;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.header .nav .menu .social-icons-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 2rem;
  cursor: pointer;
}
.header .nav .menu .social-icons-item img {
  cursor: pointer;
}
.header .nav .menu .social-icons-item img:hover {
  filter: invert(44%) sepia(92%) saturate(2829%) hue-rotate(330deg);
}
@media (min-width: 768px) {
  .header .nav .menu .social-icons-item {
    display: none;
  }
}
@media (min-width: 1440px) {
  .header .nav .menu .social-icons-item {
    display: none;
  }
}
.header .nav .menu li {
  position: relative;
}
.header .nav .menu li:first-child::before, .header .nav .menu li:not(.social-icons-item):not(:last-child):not(:has(.login-btn))::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  height: 0.063rem;
  background-color: #9194a1;
}
.header .nav .menu li:not(.social-icons-item):first-child::before {
  top: -1rem;
}
.header .nav .menu li:not(.social-icons-item):not(:last-child)::after {
  bottom: -1rem;
}
.header .nav .menu li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.063rem;
  transition: color 0.3s;
}
.header .nav .menu li a:hover {
  color: #fa5757;
}
.header .nav .menu li .login-btn {
  display: grid;
  background-color: #242946;
  color: #ffffff;
  border-radius: 0.313rem;
  border: 0.125rem solid #ffffff;
  font-weight: 400;
  letter-spacing: 0.188rem;
  font-size: 1.2rem;
  padding: 0.6rem 8rem;
  margin-top: 0.8rem;
  margin-bottom: 2rem;
}
.header .nav .menu li .login-btn:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #fa5757;
}
.header .nav .menu-toggle:checked ~ .menu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #242946;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 0;
  box-shadow: none;
  z-index: 100;
}
@media (min-width: 768px) {
  .header .nav {
    justify-content: space-evenly;
    max-width: 100%;
  }
  .header .nav .menu {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 2rem;
    background: transparent;
    opacity: 1;
    box-shadow: none;
    max-width: 100%;
    border-radius: 0;
  }
  .header .nav .menu li::before, .header .nav .menu li::after {
    display: none;
  }
  .header .nav .menu li a {
    color: #242a45;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }
  .header .nav .menu li .login-btn {
    margin: auto;
    padding: 0.6rem 1.7rem;
    font-size: 0.7rem;
    background-color: #fa5757;
    border-color: #fa5757;
  }
}
@media (min-width: 1440px) {
  .header .nav {
    justify-content: space-evenly;
    max-width: 100%;
  }
  .header .nav .menu {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 2rem;
    background: transparent;
    opacity: 1;
    box-shadow: none;
    max-width: 100%;
    margin-right: 3rem;
    border-radius: 0;
    margin: 0;
  }
  .header .nav .menu li::before, .header .nav .menu li::after {
    display: none;
  }
  .header .nav .menu li a {
    color: #242a45;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }
  .header .nav .menu li .login-btn {
    margin: auto;
    padding: 0.6rem 1.7rem;
    font-size: 0.7rem;
    background-color: #fa5757;
    border-color: #fa5757;
  }
}

@media (min-width: 768px) {
  main {
    width: 90vw;
  }
}
@media (min-width: 1440px) {
  main {
    width: 90vw;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5rem;
}
@media (min-width: 1440px) {
  .hero {
    padding: 4rem 2rem;
  }
}
.hero {
  width: 100%;
  position: relative;
  isolation: isolate;
}
.hero .herotextbox h2 {
  margin-bottom: 1rem;
  line-height: 1.2;
}
.hero .herotextbox p {
  color: #9194a1;
  margin: 1.5rem 2rem;
}
.hero .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
}
.hero .imghero-wrapper {
  position: relative;
  width: 100%;
  max-width: 25rem;
  margin-bottom: 4rem;
}
.hero .imghero-wrapper .imghero {
  position: relative;
  width: 100%;
  display: block;
  z-index: 1;
}
.hero .imghero-wrapper::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  right: -50%;
  width: 130%;
  height: 85%;
  background-color: #5368df;
  border-radius: 0 0 0 7rem;
  z-index: -1;
}
@media (min-width: 768px) {
  .hero {
    flex-direction: row-reverse;
    max-width: 100%;
    gap: 4rem;
  }
  .hero .herotextbox {
    flex: 1;
    text-align: left;
    margin-bottom: 3rem;
  }
  .hero .herotextbox h2 {
    font-size: 1.9rem;
  }
  .hero .herotextbox p {
    margin: 1.5rem 1rem 1.5rem 0;
    font-size: 0.95rem;
  }
  .hero .buttons {
    justify-content: flex-start;
  }
}
@media (min-width: 1440px) {
  .hero {
    flex-direction: row;
    max-width: 100%;
    justify-content: space-evenly;
  }
  .hero .herotextbox {
    margin-bottom: 0;
    flex: 0 0 50%;
    order: 1;
    margin-right: 10rem;
  }
  .hero .herotextbox h2 {
    font-size: 3rem;
  }
  .hero .herotextbox p {
    margin: 1.5rem 6rem 1.5rem 0;
    font-size: 1.1rem;
  }
  .hero .buttons {
    justify-content: flex-start;
    order: 2;
  }
  .hero .imghero-wrapper {
    flex: 1;
    order: 3;
  }
  .hero .imghero-wrapper::before {
    content: "";
    right: -20%;
    width: 30rem;
    height: 20rem;
    top: 30%;
  }
  .hero .imghero-wrapper .imghero {
    transform: scale(1.5);
    transform-origin: right center;
    top: 3rem;
  }
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 7rem 1.5rem 3rem;
}
.features .featurestextbox h1 {
  margin: 0 0 1rem;
}
@media (min-width: 1440px) {
  .features .featurestextbox h1 {
    font-size: 2rem;
  }
}
.features .featurestextbox p {
  color: #9194a1;
  margin: 1rem 1.4rem 1.5rem;
}
@media (min-width: 1440px) {
  .features .featurestextbox p {
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) {
  .features {
    max-width: 100%;
    padding: 2rem;
  }
  .features .featurestextbox p {
    margin: 1.5rem 5rem;
  }
}
@media (min-width: 1440px) {
  .features {
    max-width: 100%;
    padding: 2rem;
  }
  .features .featurestextbox p {
    margin: 1.5rem 22rem;
  }
}

.downloads {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem;
}
@media (min-width: 1440px) {
  .downloads {
    padding: 2rem;
  }
}
.downloads .downloadstextbox h1 {
  margin: 0 0 1rem;
}
@media (min-width: 1440px) {
  .downloads .downloadstextbox h1 {
    font-size: 2rem;
  }
}
.downloads .downloadstextbox p {
  color: #9194a1;
  margin: 0 2rem 2rem;
}
@media (min-width: 1440px) {
  .downloads .downloadstextbox p {
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) {
  .downloads {
    gap: 1rem;
    max-width: 69.375rem;
    margin: 0 auto;
  }
  .downloads .downloadstextbox {
    flex: 1 1 100%;
    gap: 2rem;
  }
  .downloads .downloadstextbox h1 {
    margin: 0;
  }
  .downloads .downloadstextbox p {
    margin: 1rem 5rem;
  }
}
@media (min-width: 1440px) {
  .downloads {
    gap: 1rem;
    max-width: 69.375rem;
    margin: 0 auto;
  }
  .downloads .downloadstextbox {
    flex: 1 1 100%;
    gap: 2rem;
  }
  .downloads .downloadstextbox h1 {
    margin: 0;
  }
  .downloads .downloadstextbox p {
    margin: 1rem 16rem;
  }
}

.faq-section {
  width: 100%;
  margin: 3rem 0;
  padding: 0 1rem;
}
.faq-section h1 {
  margin: 0 4rem 1rem;
  line-height: 1.2;
}
.faq-section p {
  color: #9194a1;
  margin: 0 2rem 3rem;
}
@media (min-width: 768px) {
  .faq-section {
    width: 70%;
    max-width: 60rem;
    margin: 5rem auto;
  }
  .faq-section h1 {
    margin: 0 0 1rem;
    font-size: 1.5rem;
  }
  .faq-section p {
    margin: 2rem 0;
    font-size: 0.95rem;
  }
}
@media (min-width: 1440px) {
  .faq-section {
    max-width: 40%;
  }
  .faq-section h1 {
    margin: 0 0 1rem;
    font-size: 2rem;
  }
  .faq-section p {
    margin: 2rem 0;
    font-size: 1.1rem;
  }
}

.emailtextbox {
  display: grid;
  place-items: center;
  line-height: 1.2;
  background-color: #5368df;
  padding: 3rem 1.5rem;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}
.emailtextbox h2 {
  color: #ffffff;
  margin: 0.75rem 0 2.5rem;
  font-size: 1.5rem;
}
.emailtextbox p {
  color: #ffffff;
  margin-top: 1rem;
  letter-spacing: 0.35em;
  font-size: 0.8rem;
}
.emailtextbox .submit-btn {
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 1rem 1.5rem;
  background-color: #fa5757;
  color: #ffffff;
  width: 18.875rem;
  margin-top: 1rem;
  font-weight: 600;
}
.emailtextbox .submit-btn:hover {
  background-color: #ffffff;
  color: #fa5757;
  border: 2px solid #fa5757;
}
@media (min-width: 768px) {
  .emailtextbox {
    padding: 2rem;
    width: 100vw;
    height: 20.5rem;
  }
  .emailtextbox h2 {
    margin: 0 12rem 1rem;
    font-size: 1.75rem;
  }
  .emailtextbox p {
    margin-bottom: 0.5rem;
  }
  .emailtextbox .submit-btn {
    margin-top: 0;
    width: auto;
    height: 3.136rem;
  }
}
@media (min-width: 1440px) {
  .emailtextbox {
    padding: 2rem;
    width: 100vw;
    height: 20.5rem;
  }
  .emailtextbox h2 {
    margin: 0 32rem 1rem;
    font-size: 1.75rem;
  }
  .emailtextbox p {
    margin-bottom: 0.5rem;
  }
  .emailtextbox .submit-btn {
    margin-top: 0;
    width: auto;
    height: 3.136rem;
  }
}

.footertextbox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #242946;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  min-height: 22.5rem;
  color: #ffffff;
}
.footertextbox a {
  text-decoration: none;
  color: inherit;
}
.footertextbox .logo-text {
  fill: white;
}
.footertextbox p:hover {
  color: #fa5757;
  cursor: pointer;
}
.footertextbox .smicons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.footertextbox .smicons img {
  cursor: pointer;
}
.footertextbox .smicons img:hover {
  filter: invert(44%) sepia(92%) saturate(2829%) hue-rotate(330deg);
}
@media (min-width: 768px) {
  .footertextbox {
    flex-direction: row;
    justify-content: center;
    padding: 2rem 12rem;
    gap: 3rem;
    min-height: auto;
  }
  .footertextbox p {
    margin: 0 1.5rem 0 0;
  }
  .footertextbox .smicons {
    margin-left: auto;
    gap: 2rem;
  }
}
@media (min-width: 1440px) {
  .footertextbox {
    flex-direction: row;
    justify-content: flex-start;
    padding: 2rem 12rem;
    gap: 3rem;
    min-height: auto;
  }
  .footertextbox p {
    margin: 0 1.5rem 0 0;
  }
  .footertextbox .smicons {
    margin-left: auto;
    gap: 2rem;
  }
}

.featurebuttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}
.featurebuttons label {
  position: relative;
  width: 100%;
  padding: 1.2em 1.25rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  color: #9194a1;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  border-bottom: 0.063rem solid #ccc;
}
.featurebuttons label:first-of-type {
  border-top: 0.063rem solid #ccc;
}
.featurebuttons label::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0.25rem;
  background-color: #fa5757;
  transition: width 0.2s ease, left 0.2s ease;
  transform: translateX(-50%);
}
.featurebuttons label:hover {
  color: #fa5757;
}
.featurebuttons input[type=radio]:checked + label {
  color: #242a45;
}
.featurebuttons input[type=radio]:checked + label::after {
  width: 50%;
}
@media (min-width: 768px) {
  .featurebuttons {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    width: 125%;
  }
  .featurebuttons label {
    font-size: 1.1rem;
    border-top: none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.199);
    max-width: 16rem;
  }
  .featurebuttons label:first-of-type {
    border-top: none;
  }
  .featurebuttons input[type=radio]:checked + label {
    border-bottom: 2px solid #fa5757;
  }
  .featurebuttons input[type=radio]:checked + label::after {
    width: 100%;
  }
  .featurebuttons .break {
    flex-basis: 100%;
    height: 0;
  }
}
@media (min-width: 1440px) {
  .featurebuttons {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
  }
  .featurebuttons label {
    font-size: 1.1rem;
    border-top: none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.199);
    max-width: 16rem;
  }
  .featurebuttons label:first-of-type {
    border-top: none;
  }
  .featurebuttons input[type=radio]:checked + label {
    border-bottom: 2px solid #fa5757;
  }
  .featurebuttons input[type=radio]:checked + label::after {
    width: 100%;
  }
  .featurebuttons .break {
    flex-basis: 100%;
    height: 0;
  }
}

.featuretabimages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
  max-width: 25rem;
  min-height: 24.75rem;
}
.featuretabimages img {
  display: none;
  width: 100%;
  max-width: 20.438rem;
  height: auto;
  position: relative;
  transition: opacity 0.3s ease;
  margin-top: 4rem;
}
@media (min-width: 768px) {
  .featuretabimages {
    width: 50%;
    max-width: 45rem;
    margin: 2rem auto 0;
  }
  .featuretabimages img {
    max-width: 20rem;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .featuretabimages {
    width: 100%;
    max-width: 45rem;
    margin: 4rem auto 0;
    min-height: 33.46rem;
  }
  .featuretabimages img {
    min-width: 32rem;
    margin: 0;
    left: 10%;
  }
}

.featuretabimages .featuretabimages-wrapper::before {
  content: "";
  position: absolute;
  bottom: 10%;
  right: 15%;
  width: 155%;
  height: 60%;
  background-color: #5368df;
  border-radius: 0 0 7rem 0;
  z-index: -1;
}

@media (min-width: 768px) {
  .featuretabimages .featuretabimages-wrapper::before {
    content: "";
    position: absolute;
    bottom: 10%;
    right: 30%;
    width: 155%;
    height: 60%;
    background-color: #5368df;
    border-radius: 0 0 7rem 0;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .featuretabimages .featuretabimages-wrapper::before {
    content: "";
    position: absolute;
    bottom: 10%;
    right: 30%;
    width: 155%;
    height: 60%;
    background-color: #5368df;
    border-radius: 0 0 7rem 0;
    z-index: -1;
  }
}
#btn1:checked ~ .featuretabimages .imgtab1,
#btn2:checked ~ .featuretabimages .imgtab2,
#btn3:checked ~ .featuretabimages .imgtab3 {
  display: block;
  margin-bottom: 3rem;
}

.tabstextbox > div {
  display: none;
  min-height: 12.948rem;
}
.tabstextbox .texttab2,
.tabstextbox .texttab3 {
  min-height: 12.948rem;
}
.tabstextbox h1 {
  margin: 1.25rem 1.25rem 0;
  line-height: 1.2;
  color: #242a45;
}
.tabstextbox p {
  color: #9194a1;
  margin: 1rem 1.5rem 2.1875rem;
}
@media (min-width: 768px) {
  .tabstextbox {
    display: flex;
    max-width: 30.125rem;
    text-align: left;
  }
  .tabstextbox h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .tabstextbox p {
    font-size: 0.95rem;
    margin: 1rem 0 1rem 1.3rem;
  }
  .tabstextbox .texttab1 {
    min-height: 150px;
    min-width: 450px;
  }
  .tabstextbox .texttab2 {
    min-height: 150px;
    min-width: 450px;
  }
  .tabstextbox .texttab3 {
    min-height: 150px;
    min-width: 450px;
  }
}
@media (min-width: 928px) {
  .tabstextbox h1 {
    font-size: 1.5rem;
    text-align: left;
  }
  .tabstextbox p {
    font-size: 0.95rem;
    margin: 1rem 0 1rem 1.3rem;
    max-width: 85%;
  }
  .tabstextbox .texttab1 {
    min-height: 150px;
    min-width: 450px;
  }
  .tabstextbox .texttab2 {
    min-height: 150px;
    min-width: 450px;
  }
  .tabstextbox .texttab3 {
    min-height: 150px;
    min-width: 450px;
  }
}
@media (min-width: 1440px) {
  .tabstextbox {
    display: flex;
    max-width: 30.125rem;
    text-align: left;
  }
  .tabstextbox h1 {
    font-size: 2rem;
  }
  .tabstextbox p {
    font-size: 1.1rem;
    margin: 1rem 0 1rem 1.3rem;
  }
  .tabstextbox .texttab1 {
    min-height: 150px;
    min-width: 450px;
  }
  .tabstextbox .texttab2 {
    min-height: 150px;
    min-width: 450px;
  }
  .tabstextbox .texttab3 {
    min-height: 150px;
    min-width: 450px;
  }
}

#btn1:checked ~ .tabstextbox .texttab1,
#btn2:checked ~ .tabstextbox .texttab2,
#btn3:checked ~ .tabstextbox .texttab3 {
  display: block;
}

@media (min-width: 768px) {
  #btn1:checked ~ .tabstextbox,
  #btn2:checked ~ .tabstextbox,
  #btn3:checked ~ .tabstextbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem;
  }
}
@media (min-width: 1440px) {
  #btn1:checked ~ .tabstextbox,
  #btn2:checked ~ .tabstextbox,
  #btn3:checked ~ .tabstextbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem;
  }
}

.browser-cardchrome,
.browser-cardfirefox,
.browser-cardopera {
  margin: 0 auto 4rem;
  background-color: #ffffff;
  border-radius: 0.625rem;
  padding: 1rem 1.5rem;
  width: 100%;
  max-width: 18rem;
  box-shadow: 0 0.625rem 0.938rem 0 rgba(128, 128, 128, 0.199);
}
.browser-cardchrome h1,
.browser-cardfirefox h1,
.browser-cardopera h1 {
  font-size: 1.2rem;
  margin: 1.5rem 0 0;
}
.browser-cardchrome p,
.browser-cardfirefox p,
.browser-cardopera p {
  color: #9194a1;
  margin: 0.5rem 0 2.3rem;
}
.browser-cardchrome .imgdots,
.browser-cardfirefox .imgdots,
.browser-cardopera .imgdots {
  width: 120%;
  margin-left: -1.5rem;
  display: flex;
}

@media (min-width: 768px) {
  .downloadcards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    height: 25rem;
  }
  .browser-cardchrome {
    align-self: flex-start;
    margin: 0;
  }
  .browser-cardfirefox {
    align-self: center;
    margin: 0;
  }
  .browser-cardopera {
    align-self: flex-end;
    margin: 0;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .downloadcards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    height: 25rem;
  }
  .browser-cardchrome {
    align-self: flex-start;
    margin: 0;
  }
  .browser-cardfirefox {
    align-self: center;
    margin: 0;
  }
  .browser-cardopera {
    align-self: flex-end;
    margin: 0;
  }
}
.faq-item {
  border-bottom: 0.0625rem solid #ccc;
  text-align: left;
  padding: 1.5rem 0;
  margin: 0 1em;
}
.faq-item p {
  margin: 2rem 0 0;
}
.faq-item summary {
  list-style: none;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
.faq-item summary::-webkit-details-marker {
  display: none;
}
.faq-item summary::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url("../img/icon-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}
.faq-item summary:hover {
  color: #fa5757;
}
.faq-item[open] summary::after {
  transform: translateY(-50%) rotate(180deg);
  filter: invert(22%) sepia(83%) saturate(7487%) hue-rotate(348deg) brightness(95%) contrast(95%);
}

.emailbox {
  display: grid;
  place-items: center;
}
@media (min-width: 768px) {
  .emailbox form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
@media (min-width: 1440px) {
  .emailbox form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
.emailbox .email-wrapper {
  border-radius: 0.5rem;
  width: 19.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.emailbox .email-wrapper.error {
  background-color: #fa5757;
  padding: 0.05rem 0.1rem 0.2rem;
}
.emailbox .email-wrapper.error p {
  display: block;
  margin: 0 0 0 0.75rem;
}
.emailbox .email-wrapper.error .email-input {
  border: 0.125rem solid #fa5757;
  background-image: url("../img/icon-error.svg");
  background-repeat: no-repeat;
  background-position: right 0.8rem center;
}
.emailbox .email-wrapper p {
  display: none;
  align-self: flex-start;
  margin: 0.3rem 0 0 0.8rem;
  font-size: 0.563em;
  color: #ffffff;
  letter-spacing: 0.05rem;
  font-style: italic;
}
.emailbox .email-input {
  background-color: #ffffff;
  color: #242a45;
  border: none;
  border-radius: 0.375rem;
  font-size: 0.95rem;
  cursor: text;
  width: 18.875rem;
  padding: 1rem 3rem 1rem 1rem;
  text-align: left;
  font-weight: 500;
}
@media (min-width: 768px) {
  .emailbox .email-input {
    height: 3.136rem;
  }
}
@media (min-width: 1440px) {
  .emailbox .email-input {
    height: 3.136rem;
  }
}

.btnbrowser,
.btnbrowserchrome,
.btnadd,
.btninfo,
.btninfodesktop {
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s ease;
  padding: 1rem 1.5rem;
  text-decoration: none;
  display: inline-block;
}

.btnbrowser {
  background-color: #f7f7f7;
  color: #242a45;
  box-shadow: 0 0.625rem 0.938rem 0 rgba(128, 128, 128, 0.199);
  font-size: 0.85rem;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.btnbrowser:hover {
  background-color: #ffffff;
  color: #242a45;
  border: 2px solid #242a45;
}
@media (min-width: 768px) {
  .btnbrowser {
    max-width: 6rem;
  }
}
@media (min-width: 1440px) {
  .btnbrowser {
    min-width: 11rem;
  }
}

.btnbrowserchrome {
  background-color: #5368df;
  color: #ffffff;
  box-shadow: 0 0.625rem 0.938rem 0 rgba(128, 128, 128, 0.199);
  font-size: 0.85rem;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.btnbrowserchrome:hover {
  background-color: #ffffff;
  color: #5368df;
  border: 2px solid #5368df;
}
@media (min-width: 768px) {
  .btnbrowserchrome {
    max-width: 6rem;
  }
}
@media (min-width: 1440px) {
  .btnbrowserchrome {
    min-width: 11rem;
  }
}

.btnadd {
  background-color: #5368df;
  color: #ffffff;
  width: 100%;
  font-size: 0.9rem;
  margin: 1.3rem 0 0.5rem;
}
.btnadd:hover {
  background-color: #ffffff;
  color: #5368df;
  border: 2px solid #5368df;
}

.btninfo,
.btninfodesktop {
  background-color: #5368df;
  color: #ffffff;
  font-size: 0.8rem;
  width: 100%;
  max-width: fit-content;
  box-shadow: 0 0.625rem 0.938rem 0 rgba(128, 128, 128, 0.199);
}
.btninfo:hover,
.btninfodesktop:hover {
  background-color: #ffffff;
  color: #5368df;
  border: 2px solid #5368df;
}

.btninfo {
  margin: 3rem 0 6rem;
}
@media (min-width: 768px) {
  .btninfo {
    margin-top: 4rem;
  }
}
@media (min-width: 1440px) {
  .btninfo {
    margin-top: 4rem;
  }
}

.btninfodesktop {
  display: none;
}
@media (min-width: 768px) {
  .btninfodesktop {
    display: block;
    margin: 3rem 0 0 0.3rem;
    transform: translateY(-2rem);
    align-self: center;
  }
}
@media (min-width: 928px) {
  .btninfodesktop {
    display: block;
    margin: 3rem 0 0 0.3rem;
    transform: translateY(-2rem);
    align-self: flex-start;
  }
}
@media (min-width: 1440px) {
  .btninfodesktop {
    display: block;
    margin: 3rem 0 0 0.3rem;
    transform: translateY(-2rem);
    align-self: flex-start;
  }
}

/*# sourceMappingURL=main.css.map */
