@use 'variables' as *;

.btnbrowser,
.btnadd,
.btninfo,
.btninfodesktop {
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-weight: $buttons-font-weight;
  transition: all 0.3s ease;
  padding: 1rem 1.5rem;
}

.btnbrowser {
  background-color: $color-light-gray;
  color: $color-dark;
  box-shadow: 0 0.625rem 0.938rem 0 $color-shadow;
  font-size: 0.85rem;
  width: 100%;
  text-align: center;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }

  @media (min-width: $breakpoint-lg) {
    width: auto;
  }
}

.btnadd {
  background-color: $color-primary;
  color: $color-white;
  width: 100%;
  font-size: 0.9rem;
  margin-top: 1rem;

  &:hover {
    background-color: $color-white;
    color: $color-primary;
    border: 2px solid $color-primary;
  }
}

.btninfo {
  background-color: $color-primary;
  color: $color-white;
  font-size: 0.8rem;
  width: 100%;
  max-width: fit-content;
  box-shadow: 0 0.625rem 0.938rem 0 $color-shadow;
  margin: 3rem 0 6rem;

  &:hover {
    background-color: $color-white;
    color: $color-primary;
    border: 2px solid $color-primary;
  }

  @media (min-width: $breakpoint-lg) {
    margin-top: 4rem;
  }
}

.btninfodesktop {
  background-color: $color-primary;
  color: $color-white;
  font-size: 0.8rem;
  width: 100%;
  max-width: fit-content;
  box-shadow: 0 0.625rem 0.938rem 0 $color-shadow;
  display: none !important;

  &:hover {
    background-color: $color-white;
    color: $color-primary;
    border: 2px solid $color-primary;
  }

  @media (min-width: $breakpoint-lg) {
    display: block !important;
    margin: 3rem 0 0 1.2rem;
    transform: translateY(-2rem);
  }
}