@use 'variables' as *;

// HEADER AND NAV
.header {
  background: $color-white;
  padding: 1.5rem;
  width: 100%;
  z-index: 10;
  position: relative;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;

    .menu-icon {
      display: inline-block;
      cursor: pointer;
      z-index: 200;

      .menu-image {
        width: auto;
        height: auto;
        display: block;
        transition: transform 0.3s ease;
      }
    }

    .menu-toggle {
      display: none;
    }

    .menu {
      list-style: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      display: none;
      flex-direction: column;
      text-align: center;
      gap: 1.5rem;
      background: $color-white;
      box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.1);
      border-radius: 0 0 0.5rem 0.5rem;
      width: 100%;
      opacity: 0;
      transition: opacity 0.3s ease;

      li {
        position: relative;

        &:first-child::before,
        &:not(:last-child)::after {
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 80vw;
          height: 0.063rem;
          background-color: $color-gray;
        }

        &:first-child::before { 
          top: -1rem; 
        }
        &:not(:last-child)::after { 
          bottom: -1rem; 
        }

        a {
          text-decoration: none;
          color: $color-white;
          font-weight: 400;
          font-size: 1.5rem;
          letter-spacing: 0.063rem;
          transition: color 0.3s;

          &:hover { 
            color: $color-primary; 
          }
        }

        .login-btn {
          display: grid;
          background-color: $color-primary2;
          color: $color-white;
          border-radius: 0.313rem;
          border: 0.125rem solid $color-white;
          font-weight: 400;
          letter-spacing: 0.188rem;
          font-size: 1.2rem;
          padding: 0.6rem 8rem;
          margin-top: 0.8rem;

          &:hover { 
            background-color: #ff7070; 
          }
        }
      }
    }

    .menu-toggle:checked ~ .menu {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-primary2;
      opacity: 0.9;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      border-radius: 0;
      box-shadow: none;
      z-index: 100;
    }

    .menu-toggle:checked + .menu-icon .menu-image {
      content: url('../img/icon-close.svg');
    }

    .bookmark-image-white {
      display: none;
      z-index: 300;
    }

    .menu-toggle:checked + .menu-icon .bookmark-image {
      display: none;
    }

    .menu-toggle:checked + .menu-icon .bookmark-image-white {
      display: block;
    }
  }
}

// HERO
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1.5rem;
  width: 100%;
  position: relative;
  isolation: isolate;

  .imghero {
    position: relative;
    width: 100%;
    max-width: 25rem;
    margin-bottom: 4rem;
  }

  .cuadrotextohero {
    h1 { 
      margin-bottom: 1rem; 
      line-height: 1.2; }
    p { 
      color: $color-gray; 
      margin: 1.5rem 2rem; }
  }

  .botones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    width: 100%;
  }

  @media (min-width: $breakpoint-lg) {
    flex-direction: row-reverse;
    max-width: 100%;
    gap: 4rem;
    padding: 4rem 2rem;

    .imghero { flex: 1; max-width: 35rem; margin: 0; }
    .cuadrotextohero {
      flex: 1;
      text-align: left;
      margin-bottom: 3rem;

      h2 { 
        font-size: $h2-font-size-desktop; }
      p { 
        margin: 1.5rem 2rem 1.5rem 0; 
        font-size: $p-font-size-desktop; }
    }
    .botones { 
      justify-content: flex-start; 
    }
  }
}

// FEATURES
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 7rem 1.5rem 3rem;

  .cuadrotextofeatures {
    h1 { 
      margin-bottom: 1rem; }
    p { 
      color: $color-gray; 
      margin: 1rem 1.5rem 1.5rem; }
  }

  @media (min-width: $breakpoint-lg) {
    max-width: 100%;
    padding: 2rem;

    .cuadrotextofeatures {
      h1 { 
        font-size: $h1-font-size-desktop; }
      p { 
        margin: 1.5rem 22rem; 
        font-size: $p-font-size-desktop; }
    }
  }
}

// DOWNLOADS
.downloads {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem;

  .cuadrotextodownloads {
    h1 { 
      margin-bottom: 1rem; }
    p { 
      color: $color-gray; 
      margin: 0 1rem 2rem; }
  }

  @media (min-width: $breakpoint-lg) {
    gap: 1rem;
    max-width: 69.375rem;
    margin: 0 auto;

    .cuadrotextodownloads {
      flex: 1 1 100%;
      gap: 2rem;
      h1 { 
        margin: 0; 
        font-size: $h1-font-size-desktop; }
      p { 
        margin: 1rem 18rem; 
        font-size: $p-font-size-desktop; }
    }
  }
}

// FAQ
.faq-section {
  width: 100%;
  margin: 3rem 0;
  padding: 0 1rem;

  h1 { 
    margin: 0 4rem 1rem; 
    line-height: 1.2; }
  p { 
    color: $color-gray; 
    margin: 0 2rem 3rem; }

  @media (min-width: $breakpoint-lg) {
    width: 40%;
    max-width: 60rem;
    margin: 5rem auto;

    h1 { 
      margin: 0 0 1rem; 
      font-size: $h1-font-size-desktop; }
    p { 
      margin: 2rem 0; 
      font-size: $p-font-size-desktop; }
  }
}

// FOOTER
.cuadrotextoemail {
  display: grid;
  place-items: center;
  line-height: 1.2;
  background-color: $color-primary;
  padding: 3rem 1.5rem;
  width: 100vw;
  margin-left: $center-margin;
  margin-right: $center-margin;

  h2 { 
    color: $color-white; 
    margin: 0.75rem 0 2.5rem; 
    font-size: 1.5rem; }
  p { 
    color: $color-white; 
    margin-top: 1rem; 
    letter-spacing: 0.35em; 
    font-size: 0.8rem; }

  .submit-btn {
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 1rem 1.5rem;
    background-color: $color-secondary;
    color: $color-white;
    width: 18.875rem;
    margin-top: 1rem;
    font-weight: 600;

    &:hover {
      background-color: $color-white;
      color: $color-secondary;
      border: 2px solid $color-secondary;
    }
  }

  @media (min-width: $breakpoint-lg) {
    padding: 2rem;
    width: 100vw;
    height: 20.5rem;

    h2 { 
      margin: 0 32rem 1rem; 
      font-size: 1.75rem; }
    p { 
      margin-bottom: 0.5rem; }
    .submit-btn { 
      margin-top: 0; 
      width: auto; 
      height: 3.136rem; }
  }
}

.cuadrotextofooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: $color-primary2;
  width: 100vw;
  min-height: 22.5rem;
  color: $color-white;
  margin-left: $center-margin;
  margin-right: $center-margin;

  p:hover { 
    color: $color-secondary; 
    cursor: pointer; }

  .smicons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    img {
      cursor: pointer;

      &:hover {
        filter: invert(44%) sepia(92%) saturate(2829%) hue-rotate(330deg);
      }
    }
  }

  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
    justify-content: flex-start;
    padding: 2rem 12rem;
    gap: 3rem;
    min-height: auto;

    p { 
      margin: 0 1.5rem 0 0; }
    .smicons { 
      margin-left: auto; 
      gap: 2rem; }
  }
}

// BOOKMARK LOGO
.bookmark-image-white { 
  display: none; 
  z-index: 300; 
}

@media (min-width: $breakpoint-lg) {
  .bookmark-image { 
    margin-left: 5rem; 
    width: 100%; }
}