//Colors
$color-primary: #5368df;
$color-primary2: #242946;
$color-secondary: #fa5757;
$color-dark: #242a45;
$color-gray: #9194a1;
$color-light-gray: #f7f7f7;
$color-white: #ffffff;
$color-shadow: rgba(128, 128, 128, 0.199);

//Typo
$h1-font-size: 1.5rem; 
$h2-font-size: 1.9rem;
$p-font-size: 0.95rem;
$p-font-size-desktop: 1.10rem;
$h1-font-size-desktop: 2rem;
$h2-font-size-desktop: 3rem;
$p-line-height: 1.6rem;
$h1-font-weight: 500;
$h2-font-weight: 500;
$p-font-weight: 400;
$buttons-font-weight: 700;

//Breakpoints
$breakpoint-lg: 1440px;

// Centering helper
$center-margin: calc(-50vw + 50%);