@use 'variables' as *;
@use 'mixins' as *;

// FEATURES TABS
.featurebuttons {
  @include flex-center(column, center, center);
  width: 100%; 
  margin: 1rem 0; 

  label {
    position: relative; 
    width: 100%; 
    padding: 1.2em 1.25rem; 
    text-align: center; 
    font-size: 1.1rem; 
    font-weight: $p-font-weight; 
    color: $color-gray; 
    background-color: $color-white; 
    cursor: pointer; 
    border: none; 
    border-bottom: 0.063rem solid #ccc;

    &:first-of-type {
      border-top: 0.063rem solid #ccc;
    }

    &::after {
      content: ""; 
      @include absolute-position($left: 50%, $bottom: 0);
      width: 0; 
      height: 0.25rem; 
      background-color: $color-secondary; 
      @include transition(width 0.2s ease, left 0.2s ease);
      transform: translateX(-50%);
    }

    &:hover {
      color: $color-secondary;
    }
  }

  input[type="radio"] {
    &:checked + label {
      color: $color-dark;
      
      &::after {
        width: 50%;
      }
    }
  }
  
  @include tablet {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    width: 125%;

    label {
      font-size: 1.1rem;
      border-top: none;
      border-bottom: 2px solid $color-shadow;
      max-width: 16rem;

      &:first-of-type {
        border-top: none;
      }
    }

    input[type="radio"] {
      &:checked + label {
        border-bottom: 2px solid $color-secondary;

        &::after {
          width: 100%;
        }
      }
    }

    .break {
      flex-basis: 100%;
      height: 0;
    }
  }
  @include desktop {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;

    label {
      font-size: 1.1rem;
      border-top: none;
      border-bottom: 2px solid $color-shadow;
      max-width: 16rem;

      &:first-of-type {
        border-top: none;
      }
    }

    input[type="radio"] {
      &:checked + label {
        border-bottom: 2px solid $color-secondary;

        &::after {
          width: 100%;
        }
      }
    }

    .break {
      flex-basis: 100%;
      height: 0;
    }
  }

}

// IMAGES TABS
.featuretabimages {
  @include flex-center(row, center, center);
  position: relative;
  width: auto;
  max-width: 25rem;
  min-height: 24.75rem;

  img {
    display: none;
    width: 100%;
    max-width: 20.438rem;
    height: auto;
    position: relative;
    @include transition(opacity 0.3s ease);
    margin-top: 4rem;
  }

  @include tablet {
    width: 50%;
    max-width: 45rem;
    margin: 2rem auto 0;

    img {
      max-width: 20rem;
      margin: 0;
    }
  }
  @include desktop {
    width: 100%;
    max-width: 45rem;
    margin: 4rem auto 0;
    min-height: 33.46rem;

    img {
      min-width: 32rem;
      margin: 0;
      left: 10%;
    }
  }

}

.featuretabimages .featuretabimages-wrapper {
  &::before {
  content: "";
  position: absolute;
  bottom: 10%;
  right: 15%;
  width: 155%;
  height: 60%;
  background-color: #5368df;
  border-radius: 0 0 7rem 0;
  z-index: -1;
  }
}

@include tablet {
  .featuretabimages .featuretabimages-wrapper {
    &::before {
      content: "";
      position: absolute;
      bottom: 10%;
      right: 30%;
      width: 155%;
      height: 60%;
      background-color: #5368df;
      border-radius: 0 0 7rem 0;
      z-index: -1;
    }
  }
}
@include desktop {
  .featuretabimages .featuretabimages-wrapper {
    &::before {
      content: "";
      position: absolute;
      bottom: 10%;
      right: 30%;
      width: 155%;
      height: 60%;
      background-color: #5368df;
      border-radius: 0 0 7rem 0;
      z-index: -1;
    }
  }
}

#btn1:checked ~ .featuretabimages .imgtab1,
#btn2:checked ~ .featuretabimages .imgtab2,
#btn3:checked ~ .featuretabimages .imgtab3 {
  display: block;
  margin-bottom: 3rem;
}

// TEXT TABS
.tabstextbox {
  > div {
    display: none;
    min-height: 12.948rem;
  }

  .texttab2, 
  .texttab3 {
    min-height: 12.948rem;
  }

  h1 {
    margin: 1.25rem 1.25rem 0;
    line-height: 1.2;
    color: $color-dark;
  }

  p {
    @include gray-text(1rem 1.5rem 2.1875rem);
  }
  
  @include tablet {
    display: flex;
    max-width: 30.125rem;
    text-align: left;

    h1 {
      font-size: $h1-font-size;
      text-align: center;
    }
    
    p {
      font-size: $p-font-size;
      margin: 1rem 0 1rem 1.3rem;
    }

    .texttab1 {
      min-height: 150px;
      min-width: 450px;
    }

    .texttab2 {
      min-height: 150px;
      min-width: 450px;
    }

    .texttab3 {
      min-height: 150px;
      min-width: 450px;
    }
  }
  @include limbo {
    h1 {
      font-size: $h1-font-size;
      text-align: left;
    }
    
    p {
      font-size: $p-font-size;
      margin: 1rem 0 1rem 1.3rem;
      max-width: 85%;
    }

    .texttab1 {
      min-height: 150px;
      min-width: 450px;
    }

    .texttab2 {
      min-height: 150px;
      min-width: 450px;
    }

    .texttab3 {
      min-height: 150px;
      min-width: 450px;
    }
  }
  @include desktop {
    display: flex;
    max-width: 30.125rem;
    text-align: left;

    h1 {
      font-size: $h1-font-size-desktop;
    }
    
    p {
      font-size: $p-font-size-desktop;
      margin: 1rem 0 1rem 1.3rem;
    }

    .texttab1 {
      min-height: 150px;
      min-width: 450px;
    }

    .texttab2 {
      min-height: 150px;
      min-width: 450px;
    }

    .texttab3 {
      min-height: 150px;
      min-width: 450px;
    }
  }
}

// Radio checked show text
#btn1:checked ~ .tabstextbox .texttab1,
#btn2:checked ~ .tabstextbox .texttab2,
#btn3:checked ~ .tabstextbox .texttab3 {
  display: block;
}

#btn1:checked ~ .tabstextbox,
#btn2:checked ~ .tabstextbox,
#btn3:checked ~ .tabstextbox {
  @include tablet {
    @include flex-center;
    margin: 0 auto;
    padding: 0 2rem;
  }
  @include desktop {
    @include flex-center;
    margin: 0 auto;
    padding: 0 2rem;
  }
}

// BROWSER CARDS
.browser-cardchrome,
.browser-cardfirefox,
.browser-cardopera {
  margin: 0 auto 4rem;
  background-color: $color-white;
  border-radius: 0.625rem; 
  padding: 1rem 1.5rem;
  width: 100%;
  max-width: 18rem;
  @include box-shadow(0 0.625rem 0.938rem 0 $color-shadow);

  h1 {
    font-size: 1.2rem;
    margin: 1.5rem 0 0;
  }

  p {
    @include gray-text(0.5rem 0 2.3rem);
  }

  .imgdots {
    width: 120%;
    margin-left: -1.5rem;
    display: flex;
  }
}

@include tablet {
  .downloadcards {
    @include flex-center(row, center, flex-start);
    gap: 2rem;
    height: 25rem;
  }

  .browser-cardchrome { 
    align-self: flex-start; 
    margin: 0; 
  }
  .browser-cardfirefox { 
    align-self: center; 
    margin: 0; 
  }
  .browser-cardopera { 
    align-self: flex-end; 
    margin: 0; 
  }
@include desktop {
  .downloadcards {
    @include flex-center(row, center, flex-start);
    gap: 2rem;
    height: 25rem;
  }

  .browser-cardchrome { 
    align-self: flex-start; 
    margin: 0; 
  }
  .browser-cardfirefox { 
    align-self: center; 
    margin: 0; 
  }
  .browser-cardopera { 
    align-self: flex-end; 
    margin: 0; 
  }
}
}

// FAQ ACCORDION
.faq-item {
  border-bottom: 0.0625rem solid #ccc;
  text-align: left;
  padding: 1.5rem 0;
  margin: 0 1em;

  p {
    margin: 2rem 0 0;
  }

  summary {
    list-style: none;
    position: relative;
    @include transition(all 0.3s ease);
    cursor: pointer;

    &::-webkit-details-marker { 
      display: none; 
    }

    &::after {
      content: "";
      @include absolute-position($right: 0, $top: 50%);
      transform: translateY(-50%);
      width: 1rem;
      height: 1rem;
      background-image: url('../img/icon-arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      @include transition(transform 0.3s ease);
    }

    &:hover {
      color: $color-secondary;
    }
  }

  &[open] summary::after {
    transform: translateY(-50%) rotate(180deg);
    filter: invert(22%) sepia(83%) saturate(7487%) hue-rotate(348deg) brightness(95%) contrast(95%);
  }
}

// EMAIL FOOTER
.emailbox { 
  display: grid; 
  place-items: center; 

  form {
    @include tablet {
      @include flex-center(row, center, center);
      gap: 1rem;
    }
    @include desktop {
      @include flex-center(row, center, center);
      gap: 1rem;
    }
  }

  .email-wrapper {
    border-radius: 0.5rem;
    width: 19.1rem;
    @include flex-center;
    background-color: transparent;

    &.error {
      background-color: $color-secondary;
      padding: 0.05rem 0.1rem 0.2rem;

      p { 
        display: block;
        margin: 0 0 0 0.75rem;
      }

      .email-input {
        border: 0.125rem solid $color-secondary;
        background-image: url('../img/icon-error.svg');
        background-repeat: no-repeat;
        background-position: right 0.8rem center; 
      }
    }

    p {
      display: none;
      align-self: flex-start;
      margin: 0.3rem 0 0 0.8rem;
      font-size: 0.563em; 
      color: $color-white; 
      letter-spacing: 0.05rem;
      font-style: italic;
    }
  }

  .email-input {
    background-color: $color-white;
    color: $color-dark;
    border: none;
    border-radius: 0.375rem;
    font-size: $p-font-size;
    cursor: text;
    width: 18.875rem;
    padding: 1rem 3rem 1rem 1rem;
    text-align: left;
    font-weight: $h1-font-weight;  
    @include tablet {
      height: 3.136rem;
    }
    
    @include desktop {
      height: 3.136rem;
    }
  }
}